{% extends "base.html" %}

{% block content %}

<div class="jumbotron" style="background-color: #cc3300">
    <h1 class="display-4"><h2><i>Welcome to the crypto news network </i></h2></h1>
    <p class="lead"><h3>Your source for upto date news on crypto and blockchain</h3></p>

</div>


<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Daily High</th>
       <th scope="col">Daily Low</th>
        <th scope="col">MarketCap</th>

    </tr>
  </thead>
    <tbody>
    {% for key,value in  price.DISPLAY.items %}


        <tr>
          <td>{{ key }}</td>
          <td>{{ value.USD.PRICE }}</td>
          <td>{{ value.USD.HIGHDAY }}</td>
           <td>@{{ value.USD.LOWDAY }}</td>
            <td>@{{ value.USD.MKTCAP }}</td>
        </tr>
    {% endfor %}
     </tbody>
</table>

<hr><br/>






<div class="container">
    <div class="row">
        {% for x in api.Data %}
            <div class="col sm">

             <div class="card" style="width: 18rem;">
                <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
                  <div class="card-body">
                        <h5 class="card-title">{{ x.title}}</h5>
                        <p class="card-text">{{ x.body }}</p>
                        <a href="{{ x.url }}" class="btn btn-primary">Read more</a>
                  </div>
             </div>
                </div>
         {% endfor %}
    </div>
</div>



 {{ api.Data }}

{% endblock %}
